@page "/Bestellen"
@using projectweb.Components.Flow
@using projectweb.Repositories
@inject BestellingStateService BestelState;
@rendermode InteractiveServer

@if (BestelState.ActieveRonde is null)
{
    <p class="text-danger">Er is geen actieve ronde geselecteerd.</p>
}
else
{
 <ProductLijst />  
}
