@page "/betalen"
@inject BestellingStateService BestelState
@using projectweb.Components.Flow
@using projectweb.Repositories
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Betalen</h3>

<RekeningOverzicht />

@code {
   

}