@page "/"
@inject BestellingStateService BestelState
@using projectweb.Components.Flow
@using projectweb.Repositories
@rendermode InteractiveServer
@inject IJSRuntime JS
@implements IDisposable


<h2>Bestelpagina voor Obers</h2>


<!-- Sectieoverzicht -->
<div class="card mb-3">
    <div class="card-header collapse-toggle collapsed"
         data-bs-toggle="collapse"
         data-bs-target="#sectieCollapse"
         aria-expanded="true"
         style="cursor: pointer;">
        <span class="fw-semibold">Kies een Sectie van het restaurant</span>
        <i class="bi bi-chevron-down ms-auto"></i>
    </div>

    <div id="sectieCollapse" class="collapse show card-body">
        <TafelSectieLijst />
    </div>
</div>

<!-- Tafeloverzicht -->
@if (BestelState.GeselecteerdeSectie?.Id > 0)
{
    <div class="card mb-3">
        <div class="card-header collapse-toggle collapsed"
             data-bs-toggle="collapse"
             data-bs-target="#tafelCollapse"
             aria-expanded="true"
             style="cursor: pointer;">
            <span class="fw-semibold">Selecteer een tafel</span>
            <i class="bi bi-chevron-down ms-auto"></i>
        </div>

        <div id="tafelCollapse" class="collapse show card-body">
            <TafelLijst />
        </div>
    </div>
}

@if (BestelState.GeselecteerdeSectie?.Id > 0 && BestelState.GeselecteerdeTafel?.Id > 0)
{
    <TafelBestellingOverzicht />
}


@code {
    protected override void OnInitialized()
    {
        BestelState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BestelState.OnChange -= StateHasChanged;
    }

    

}