@page "/"
@inject TafelRepository TafelRepo
@inject BestellingRepository BestellingRepo

@using projectweb.Components.Tafels
@using projectweb.Repositories
@rendermode InteractiveServer

<h2>Homepagina</h2>

<TafelOverzicht Tafels="@Tafels"
                OpenTafelIds="@OpenTafelIds"
                OnToggleTafel="ToggleTafel"
                StartNieuweBestelling="StartNieuweBestelling" />

@code {
    private List<Tafel> Tafels = new();
    private HashSet<int> OpenTafelIds = new();

    protected override void OnInitialized()
    {
        Tafels = TafelRepo.GetAll();
    }

    private void ToggleTafel(int tafelId)
    {
        if (!OpenTafelIds.Add(tafelId))
            OpenTafelIds.Remove(tafelId);

        StateHasChanged();
    }

    private async Task StartNieuweBestelling(int tafelId)
    {
        var bestelling = new Bestelling
        {
            TafelId = tafelId,
            Tijdstip = DateTime.Now
        };

        await BestellingRepo.CreateAsync(bestelling);
        StateHasChanged();
    }
}
