@using projectweb.Components.Flow
@using projectweb.Repositories
@inject BestellingRepository BestellingRepo
@inject BestellingStateService BestelState
@implements IDisposable

@if (Bestellingen.Any())
{
    
}
else
{
    <p>Geen bestellingen gevonden.</p>
}

@if (ToonProductSelector)
{
    <ProductLijst  />
}



@code {
    [Parameter] public EventCallback<int> BestellingOverzichtIsGetoond { get; set; }
    private Dictionary<int, Product> ProductenLookup = new();
    private List<Bestelling> Bestellingen = new();
    private bool ToonProductSelector = false;

    protected override void OnInitialized()
    {

        Bestellingen = BestellingRepo.GetAll();
        Console.WriteLine($"[DEBUG] Bestellingen geladen: {Bestellingen.Count}");

        BestelState.OnChange += StateHasChanged;
    }


}
